<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>title</title>
</head>
<body>
    <p>UUUUUUUUUUUUUUUUUUUUUU</p>
    <p>{{- .u1.Name -}}</p>
    <p>{{ .u1.Gender }}</p>
    <p>{{ .u1.Age }}</p>
    <p>MMMMMMMMMMMMMMMMMMMMMM</p>
    <p>{{ .m1.name }}</p>
    <p>{{ .m1.gender }}</p>
    <p>{{ .m1.age }}</p>

    {{/* 注释 */}}
    {{ $v1 := 100 }}
    {{ $age := .m1.age }}

    <hr>
    {{ if $v1 }}
    {{ $v1 }}
    {{ else }}
    eeeeeeee
    {{end}}

    <hr>
    {{ if lt .m1.age 18 }}
    小于18
    {{ else }}
    大于等于18
    {{ end }}

    <hr>
    {{ range $idx, $hobby := .hobby }}
        <p>{{$idx}} - {{$hobby}}</p>
    {{ else }}
    没啥爱好
    {{ end }}

    <p>m1局部定义-----------------------</p>
    {{ with .m1 }}
    <p>{{ .name -}}</p>
    <p>{{ .gender }}</p>
    <p>{{ .age }}</p>
    {{ end }}

</body>
</html>